
:root {
    
    --verlmelho1: linear-gradient(180deg, #EE5253 0%, #D92223 100%);
    --vermelho2:#EE5253;
    --verde:#10AC84;
    --cinza:#EAEAEA;
  
     }


  * {
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    header{
        color:white;
        background-color: var(--vermelho2); 
        height:80px;
        display:flex;
        justify-content: space-between; 
    }

    
    header p{
        font-style:  bold;
        font-weight: 700;
        font-size:  30px;
        margin-top: 23px;
        margin-left: 27px;
    }

    /*colocar os icones!*/


        #sec1 {
        height: 946px;
        background-image: url("img/pc.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        color:white;
        /*falta colocar cor rgba(0,0,0,0.8) por cima da imagem*/


        }

        #sec1 p{
            font-size:30px;
            padding-top: 292px;
            padding-left: 59px;
        
        }
        #sec1 h1{
            font-size: 80px;
            font-weight: 700;
            line-height: 94px;
            line-height: 100%;
            padding-left: 59px;

            /*ver quebra de linha do h1*/
        }

        #sec1 button{

            Font-size: 22px;
            background-color: var(--vermelho2);
            color: white;
            height: 60px;
            width: 290px;
            margin-left: 62px;
            margin-top: 41px;
            border-radius: 8px;
            border: none;
        }

        #sec2{
            height:493px;
            display: flex;
            
        }
        
        #sec2 img{

            width:408px;
            height:466px;
            margin-top: 41px;
        }

        #textoSec2 h3{
            padding-top: 86px;
            padding-left: 235px;
            font-size: 50px;
            font-style: bold;

        }
        
        #textoSec2 p{
            margin-top: 41px;
            margin-left: 235px;
            margin-right: 76px;
            font-size: 22px;
            line-height: 30px;
            height: 150px;
            width: 504px;
        }
       

        #sec3 {
            height:403px;
        }

        #sec3 h2{
            padding-top: 71px;
            padding-left: 233px;
            font-size: 50px;
            font-style: bold;
            line-height:59px;
        }
        
        #sec3 p{
            margin-top: 21px;
            margin-left: 233px;
            margin-bottom:37px ;
            font-size: 22px;
        }

        #sec3 form {
            display: flex;
            margin-left: 233px;
            align-items: center;
        }
        



        #caixa2Form{
            margin-left:22px;
            margin-right: 22px;
        }
     
        .labInp {
            display: flex;
            flex-direction: column;
        }
        .label{
          font-size: 21px;
        }
        .caixaInp{
            width:338px;
            height:60px;
            border: 1px solid rgba(205, 205, 205, 1);
        }

        #botao2{
            Font-size: 22px;
            background-color: var(--verde);
            color: white;
            height: 60px;
            width: 290px;
            border: none;
            border-radius: 8px;
            margin-top: 22px;
        }

           
 


        footer{
            height: 90px;
            background-color: var(--cinza);
        }

        #footerP{
            font-size: 14px;
            line-height: 20px;
            padding-top: 30px;
            text-align: center;
        }